html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

nav {
  background: #f5f5f5;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
  display: flex;
  align-items: center;
}


nav .sistema {
  float: right;
}

nav .master {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 1vw;
}

.botao-menu {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 36px;
  position: absolute;
  left: 120px;
  top: 10px;
  display: none;
}

nav .logo-cabecalho {
  margin-left: 15px;
}

.menu ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.menu ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 1vw;
}

.menu ul li a {
  color: #222222;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.menu ul ul {
  position: absolute;
  left: 18%;
  display: none;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul ul li {
  padding: 10px;
  width: 130px;
  display: block;
  background-color: #f5f5f5;
  padding-top: 5px;
}

.menu ul ul li a {
  color: #615f5f;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: block;
}

.sistema ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

.sistema ul li a {
  text-decoration: none; /* tira o sublinhado do Entrar */
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
  margin-top: 0px;
}

.btn {
  border: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.botao-criarconta {
  width: 150.1px;
  height: 39.07px;
  cursor: pointer;
  background: #1498d5;
  border-radius: 1.39535px;
}

/* Fim cabeçalho */

.banner {
  width: 100%;
  background-image: url('../IMG/Contato/banner1.png');
  background-size: cover;
  padding-top: 60vh;
}

.meios-contato {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  color: rgba(20, 152, 213, 1);
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

form {
  margin-top: -170px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -1.44904px 2.89809px rgba(0, 0, 0, 0.25),
    0px 2.89809px 2.89809px rgba(0, 0, 0, 0.25);
  /*max-width: 455px;
  max-height: 646.27px;*/
  width: 110%;
  display: inline-block;
  padding: 2vw;
  align-items: center;
}

form input {
  display: block;
  width: 97%;
  height: 45px;
  margin: 2vw 0vw;
  border: none;
  border-bottom: 1px solid #a5a5a5;
}

::placeholder {
  color: #2c2c2c;
}

.enviar {
  margin-top: 5vw;
  background: #1498d5;
  border-radius: 5.11229px;
  max-width: 364.51px;
  width: 100%;
}

/* Texto com telefone e email */
.info-contato {
  margin: 40px;
  text-align: center;
}

.info-contato p {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  /* or 333% */

  text-align: center;

  color: #6b6969;
}

/* Caixinha redes sociais */
.bloco-redes {
  background-image: url('../IMG/Contato/caixa-redes.png');
  max-width: 187px;

  margin: auto;
}
.bloco-redes p {
  text-align: end;
  margin-right: 25px;
  margin-top: 5px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 55px;
  /* or 357% */

  color: #ffffff;
}

/* Texto da página de contato */

.texto {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 743px;
  margin-top: 3%;
}

.barrinha {
  width: 10px;
  max-height: 198px;
  margin-right: 15px;
  margin-top: 15px;
  background: #75d3ff;
}

.texto p {
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 63px;
  /* or 419% */

  color: #000000;
}
/* Conheça nossa sede! */

.conheca-texto {
  text-align: center;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;

  color: #393939;
}

.barrinha-horizontal {
  margin-left: auto;
  margin-right: auto;
  width: 155px;
  height: 5px;
  background: linear-gradient(0deg, #1498d5, #1498d5), #c4c4c4;
}

.conheca-sede {
  margin: 50px 50px;
  display: flex;
  justify-content: space-evenly;
}

.mapa {
  margin-top: 100px;
}

.conheca-sede p {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 13.2137px;
  line-height: 17px;

  color: #000000;
}

/* Inicio Rodapé */
.caixa-rodape {
  background: #323238;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.caixa-rodape {
  margin-top: 6%;
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
}

.logo-rodape {
  margin-top: 3%;
  margin-left: 5%;
  width: 20%;
  height: 20%;
}

.itens-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 35%;
}

.caixa-rodape ul {
  list-style: none;
}

.caixa-rodape ul li {
  margin-top: 10%;
  display: inline-block;
  padding-left: 2vw;
}

.caixa-rodape ul li a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape ul ul li {
  position: sticky;
  display: list-item;
}

.socios ul li {
  margin-left: -3vw;
  display: list-item;
}

.icones-redes {
  float: right;
}

.copyright {
  text-align: center;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.teste {
  background: #323238;
}

/*----- Parte da responsividade -----*/

@media (min-width: 576px) and (max-width: 767px) {
  /* Novo menu horizontal */

  nav .logo-cabecalho {
    margin: auto;
  }

  nav {
    height: 350px;
    justify-content: space-between;
  }

  nav .cabecalho {
    display: flex;
  }

  nav .master {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .menu {
    margin: auto;
  }

  .menu ul {
    text-align: center;
  }

  .menu ul li {
    display: block;
    margin: auto;
  }

  .sistema {
    margin: auto;
  }

  .sistema ul {
    margin-top: 0px;
    padding: 0px;
    text-align: center;
  }

  .sistema ul li {
    display: block;
  }

  .menu ul ul {
    position: absolute;
    left: 70%;
    display: none;
  }

  /* Form e meios de contato */
  .meios-contato {
    display: block;
    justify-content: space-evenly;
  }

  .formulario{
    margin: auto;
    text-align: center;
  }

  form {
    margin-top: -170px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1.44904px 2.89809px rgba(0, 0, 0, 0.25),
      0px 2.89809px 2.89809px rgba(0, 0, 0, 0.25);
    width: 50%;
    display: inline-block;
    padding: 2vw;
    align-items: center;
  }

  /*Conheça nossa Sede*/
  .conheca-sede{
    display: block;
  }

  iframe{
    width: 100%;
  }

  .foto-sede{
    text-align: center;
  }

  /* Footer */

  .logo-rodape {
    margin-top: auto;
    margin-bottom: auto;
  }

  .teste {
    margin-top: 10px;
  }

  .caixa-rodape {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .home,
  .contato,
  .socios {
    margin: 10px;
  }

  .icones-redes {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }

  .icones-redes p {
    display: none;
  }

  .copyright p {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Form e meios de contato */
  .meios-contato {
    display: block;
    justify-content: space-evenly;
  }

  .formulario{
    margin: auto;
    text-align: center;
  }

  form {
    margin-top: -170px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1.44904px 2.89809px rgba(0, 0, 0, 0.25),
      0px 2.89809px 2.89809px rgba(0, 0, 0, 0.25);
    width: 50%;
    display: inline-block;
    padding: 2vw;
    align-items: center;
  }

  /*Conheça nossa Sede*/
  .conheca-sede{
    display: block;
  }

  iframe{
    width: 100%;
  }

  .foto-sede{
    text-align: center;
  }
  /* Footer */

  .logo-rodape {
    margin-top: auto;
    margin-bottom: auto;
  }

  .teste {
    margin-top: 10px;
  }

  .caixa-rodape {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .home,
  .contato,
  .socios {
    margin: 10px;
  }

  .icones-redes {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }

  .icones-redes p {
    display: none;
  }

  .copyright p {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* Mapa */
  iframe{
    width: 100%;
  }

}
