html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

nav {
  background: #f5f5f5;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
  display: flex;
  align-items: center;
}


nav .sistema {
  float: right;
}

nav .master {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 1vw;
}

.botao-menu {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 36px;
  position: absolute;
  left: 120px;
  top: 10px;
  display: none;
}

nav .logo-cabecalho {
  margin-left: 15px;
}

.menu ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.menu ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 1vw;
}

.menu ul li a {
  color: #222222;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.menu ul ul {
  position: absolute;
  left: 18%;
  display: none;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul ul li {
  padding: 10px;
  width: 130px;
  display: block;
  background-color: #f5f5f5;
  padding-top: 5px;
}

.menu ul ul li a {
  color: #615f5f;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: block;
}

.sistema ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

.sistema ul li a {
  text-decoration: none; /* tira o sublinhado do Entrar */
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
  margin-top: 0px;
}

.btn {
  border: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.botao-criarconta {
  width: 150.1px;
  height: 39.07px;
  cursor: pointer;
  background: #1498d5;
  border-radius: 1.39535px;
}

/*Corpo do site*/

.banner {
  width: 100%;
  background-image: url('../IMG/HomePage/Banner_novo.png');
  background-size: cover;
  padding-top: 15vh;
}

.banner h2 {
  position: relative;
  margin: auto;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
}

.quem-somos {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-top: 8%;
  color: #393939;
}

.barrinha-horizontal {
  margin-left: auto;
  margin-right: auto;
  width: 155px;
  height: 5px;
  background: linear-gradient(0deg, #1498d5, #1498d5), #c4c4c4;
  transform: rotate(-180deg);
}

t1 {
  /* Todos os títulos de dentro do Quem Somos */
  display: flex;
  justify-content: start;
  margin-top: 5%;
  margin-left: 15vw;
}

/* Inicio de Nossos Pilares */
.barrinha1 {
  width: 5.3px;
  height: 43px;
  background: #1498d5;
  margin-top: 1%;
}

h2 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-left: 1%;
}

.pilares {
  display: flex;
  justify-content: center;

  align-items: center;
}
.pilar1 {
  width: 258.83px;
  height: 129.5px;
  margin: 1%;
  background: #ffffff;
  box-shadow: 0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25),
    0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25);
  transition: 0.75s;
}

.pilar1:hover {
  background: rgb(243, 243, 243);
  transition: 0.75s;
}

.pilar2 {
  width: 258.83px;
  height: 129.5px;
  margin: 1%;
  background: #ffffff;
  box-shadow: 0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25),
    0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25);
  transition: 0.75s;
}

.pilar2:hover {
  background: rgb(243, 243, 243);
  transition: 0.75s;
}

.pilar3 {
  width: 258.83px;
  height: 129.5px;
  margin: 1%;
  background: #ffffff;
  box-shadow: 0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25),
    0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25);
  transition: 0.75s;
}

.pilar3:hover {
  background: rgb(243, 243, 243);
  transition: 0.75s;
}

h3 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: justify;
  z-index: 1;
  color: #000000;
}

.pilares h3 {
  margin-left: 18%;
  margin-top: 15%;
}
/* Fim de Nossos Pilares */

/* Inicio de Nossos Valores */
.barrinha2 {
  width: 5.3px;
  height: 43px;
  background: #1498d5;
  margin-top: 1%;
}

.nossos-valores {
  /* div abaixo do título */
  width: 80%;
  padding-left: 10vw;
  display: flex;

  justify-content: center;
}

.texto-valores {
  font-family: Roboto Slab;
  font-style: normal;

  font-size: 18px;
  line-height: 40px;
  /* or 267% */

  text-align: justify;
  padding: 0px 95px;

  color: #000000;
}
.texto-valores {
  text-align: justify;
  text-align-last: start;
}

/* Fim de Nossos Valores */

/* Inicío Nossos Números */
.barrinha3 {
  width: 5.3px;
  height: 43px;
  background: #1498d5;
  margin-top: 1%;
}

.nossos-numeros {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 100px;
  padding: 20px;
}

.dupla {
  justify-content: center;
}

.dupla p {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
/* Fim de Nossos Números */

/* Início Nossos Serviços */
.nossos-servicos-titulo {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-top: 8%;
  color: #393939;
}

.barrinha-horizontal2 {
  /* barrinha do título */
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  height: 5px;
  background: linear-gradient(0deg, #1498d5, #1498d5), #c4c4c4;
  transform: rotate(-180deg);
}

.caixas-servicos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-right: 130px;
  padding-left: 130px;
  padding-top: 30px;
}

.caixa {
  position: relative;
  align-items: center;
  /*justify-content: space-evenly;*/
  /*width: 320px;*/
  padding: 30px;
  width: 15vw;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.meio {
  margin-top: -80px;
}

.caixa .botao {
  width: 100px;
  position: relative;
  left: 50%;
  cursor: pointer;
  margin: 5px -50px;
}

.titulo-caixa {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  /* or 228% */

  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.texto-caixas {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 34px;
  /* or 227% */

  text-align: center;
  letter-spacing: 0.1em;

  color: #000000;
}

.botao {
  color: #ffffff;
  border: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;

  background: #1498d5;
  border-radius: 1.39535px;

  text-align: center;
}

.img-servicos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 1440px;
  min-width: 400px;
}
/* Fim Nossos Serviços */

/* Inicio Rodapé */
.caixa-rodape {
  background: #323238;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.caixa-rodape {
  margin-top: 6%;
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
}

.logo-rodape {
  margin-top: 3%;
  margin-left: 5%;
  width: 20%;
  height: 20%;
}

.itens-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 35%;
}

.caixa-rodape ul {
  list-style: none;
  /*overflow: hidden; /*!!!!*/
}

.caixa-rodape ul li {
  margin-top: 10%;
  display: inline-block;
  padding-left: 2vw;
}

.caixa-rodape ul li a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape ul ul li {
  position: sticky;
  display: list-item;
}

.socios ul li {
  margin-left: -3vw;
  display: list-item;
}

.icones-redes {
  float: right;
}

.copyright {
  text-align: center;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.teste {
  background: #323238;
}

/*----- Parte da responsividade -----*/

@media (min-width: 576px) and (max-width: 767px) {
  /* Novo menu horizontal */

  nav .logo-cabecalho {
    margin: auto;
  }

  nav {
    height: 350px;
    justify-content: space-between;
  }

  nav .cabecalho {
    display: flex;
    /*justify-content: space-between;*/
  }

  nav .master {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .menu {
    margin: auto;
  }

  .menu ul {
    text-align: center;
  }

  .menu ul li {
    display: block;
    margin: auto;
  }

  .sistema {
    margin: auto;
  }

  .sistema ul {
    margin-top: 0px;
    padding: 0px;
    text-align: center;
  }

  .sistema ul li {
    display: block;
  }

  .menu ul ul {
    position: absolute;
    left: 70%;
    display: none;
  }

  /*Banner*/
  .banner h2 {
    font-size: 36px;
  }

  /*Título quem somos*/
  .QuemSomos {
    margin: auto;
  }

  /* Nossos pilares */
  .pilares {
    display: block;
    margin: auto;
  }

  .pilar1,
  .pilar2,
  .pilar3 {
    margin: auto;
  }

  .pilares h3 {
    margin: auto;
    margin-top: 10%;
    text-align: center;
    padding-top: 15%;
  }

  /* Nossos valores */
  .nossos-valores {
    /* div abaixo do título */
    width: 100%;
    padding-left: 0vw;
  }

  .logo2 {
    display: none;
  }

  /* Nossos Números */
  .nossos-numeros {
    display: block;
  }

  .dupla {
    text-align: center;
  }

  /* Início Nossos Serviços */
  .barrinha-horizontal2 {
    margin: auto;
  }

  .nossos-servicos-titulo {
    text-align: center;
    margin: auto;
    font-size: 36px;
  }

  .caixas-servicos {
    display: block;
  }

  .caixa {
    width: 45vw;
    margin: 10% auto;
  }

  /* Footer */

  .logo-rodape {
    margin-top: auto;
    margin-bottom: auto;
  }

  .teste {
    margin-top: 10px;
  }

  .caixa-rodape {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .home,
  .contato,
  .socios {
    margin: 10px;
  }

  .icones-redes {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }

  .icones-redes p {
    display: none;
  }

  .copyright p {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*Banner*/
  .banner h2 {
    font-size: 36px;
  }

  /*Título quem somos*/
  .QuemSomos {
    margin: auto;
  }

  /* Nossos pilares */
  .pilares {
    display: block;
    margin: auto;
  }

  .pilar1,
  .pilar2,
  .pilar3 {
    margin: auto;
  }

  .pilares h3 {
    margin: auto;
    margin-top: 10%;
    text-align: center;
    padding-top: 15%;
  }

  /* Nossos valores */
  .nossos-valores {
    /* div abaixo do título */
    width: 100%;
    padding-left: 0vw;
  }

  .logo2 {
    display: none;
  }

  /* Nossos Números */
  .nossos-numeros {
    display: block;
  }

  .dupla {
    text-align: center;
  }

  /* Início Nossos Serviços */
  .barrinha-horizontal2 {
    margin: auto;
  }

  .nossos-servicos-titulo {
    margin: auto;
    font-size: 36px;
  }

  .caixas-servicos {
    align-items: center;
    display: block;
  }

  .caixa {
    width: 50vw;
    margin: 10% auto;
  }

  /* Footer */

  .logo-rodape {
    margin-top: auto;
    margin-bottom: auto;
  }

  .teste {
    margin-top: 10px;
  }

  .caixa-rodape {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .home,
  .contato,
  .socios {
    margin: 10px;
  }

  .icones-redes {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }

  .icones-redes p {
    display: none;
  }

  .copyright p {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .socios ul {
    margin-left: 0vw;
    display: list-item;
  }

  /* Início Nossos Serviços */
  .barrinha-horizontal2 {
    margin: auto;
  }

  .nossos-servicos-titulo {
    text-align: center;
    margin: auto;
    font-size: 36px;
  }

  .caixas-servicos {
    display: block;
    padding: 0px 100px;
  }

  .caixa {
    width: 45vw;
    margin: 10% auto;
  }
}
