html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

.cabecalho {
  height: 60px;
  background: #f5f5f5;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  padding: 0 15px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav .menu{
    margin-top: -70px;
    margin-left: 7vw;
}

nav .sistema{
    margin-top: -70px;
    margin-left: 50px;
}

.logo-cabecalho{
    margin-top: 13px;
}

.menu ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 1vw; /*????*/
}

.menu ul li a {
  color: #222222;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.menu ul ul {
  position: absolute;
  left: 18%;
  display: none;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul ul li {
  padding: 10px;
  width: 130px;
  display: block;
  background-color: #f5f5f5;
  padding-top: 5px;
}

.menu ul ul li a {
  color: #615f5f;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: block;
}

  
.sistema ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 10px; /*????*/
}

.sistema ul li a {
  text-decoration: none; /* tira o sublinhado do Entrar */
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
  margin-top: 0px;
}

.btn {
  border: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.botao-criarconta {
  width: 150.1px;
  height: 39.07px;
  cursor: pointer;
  background: #1498d5;
  border-radius: 1.39535px;
}

.banner {
  width: 100%;
  background-image: url('../IMG/HomePage/Banner_novo.png');
  background-size: cover;
  padding-top: 15vh;
}

.banner h2 {
  position: relative;
  margin: auto;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
}

.quem-somos{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-top: 8%;
    color: #393939;
}

.barrinha-horizontal{
    margin-left: auto;
    margin-right: auto;
    width: 155px;
    height: 5px;
    background: linear-gradient(0deg, #1498d5, #1498d5), #c4c4c4;
    transform: rotate(-180deg);
}

t1{
    display: flex;
    justify-content: start;
    margin-top: 5%;
    margin-left: 15vw;
}


.barrinha1{
    width: 5.3px;
    height: 43px;
    background: #1498d5;
    margin-top: 0.5%;
}

h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    margin-left: 1%;
}

.pilares{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.pilar1{
    width: 258.83px;
    height: 129.5px;
    background: #ffffff;
    box-shadow: 0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25),
    0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25);
}
.pilar2{
    width: 258.83px;
    height: 129.5px;
    background: #ffffff;
    box-shadow: 0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25),
    0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25);
}
.pilar3{
    width: 258.83px;
    height: 129.5px;
    background: #ffffff;
    box-shadow: 0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25),
    0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25);
}

h3{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
    z-index: 1;
    color: #000000;
}

.pilares h3{
    margin-left: 18%;
    margin-top:15%;
}