html {
  overflow-y: scroll;
}

body {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

main {
  position: relative;
  width: 1440px;
  height: 3316px;
  margin: 0 auto;
  background: #ffffff;
}

.header {
  position: relative;
  width: 100%;
  height: 59px;
  left: 0px;
  top: 0px;
  background: #f5f5f5;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho {
  width: 100%;
  background-color: hsl(0, 0, 96);
  box-sizing: border-box;
}

.header {
  height: 59px;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.logo {
  position: absolute;
  width: 95px;
  height: 35.15px;
  left: 50px;
  top: 13px;
  cursor: pointer;
}

.menu ul {
  padding-left: 175px;
}

.menu ul li {
  display: inline-block;
  margin-left: 65px;
}

.menu ul li a {
  color: #222222;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.menu ul li a:hover {
  color: #1498d5;
}

.menu ul ul {
  display: none;

  position: absolute;
  width: 203px;
  height: 101px;
  left: 260px;
  top: 40px;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul ul li {
  padding: 8px;
  width: 130px;
  display: block;
  background-color: #f5f5f5;
  padding-top: 16px;
}

.sistema {
  position: absolute;
  right: 0;
}

.sistema ul li {
  display: inline-block;
  padding: 18px;
  align-items: right;
}

.sistema ul li a {
  color: #222222;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.sistema ul li a:hover {
  color: #1498d5;
}

.btn {
  border: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.botao-criarconta {
  position: absolute;
  width: 150.1px;
  height: 39.07px;
  left: 1169.81px;
  top: 11px;
  z-index: 1;

  cursor: pointer;
  background: #1498d5;
  border-radius: 1.39535px;
}

.banner {
  z-index: -2;
  align-items: center;
}

.banner span {
  position: absolute;
  width: 632px;
  height: 126px;
  left: 404px;
  top: 125px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
}

h1 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;

  color: #393939;
}

.quem-somos {
  position: absolute;
  width: 345px;
  height: 60px;
  left: 572px;
  top: 560px;
}

h2 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.pilares {
  position: absolute;
  width: 326.85px;
  height: 94px;
  left: 276.55px;
  top: 672px;
}

.valores {
  position: absolute;
  width: 144px;
  height: 26px;
  left: 279px;
  top: 946px;
}

.numeros {
  position: absolute;
  width: 159px;
  height: 52px;
  left: 279px;
  top: 1277px;
}

.barrinha-horizontal {
  position: absolute;
  width: 155px;
  height: 5px;
  left: 667px;
  top: 632px;

  background: linear-gradient(0deg, #1498d5, #1498d5), #c4c4c4;
  transform: rotate(-180deg);
}

.barrinha1 {
  position: absolute;
  width: 5.3px;
  height: 43px;
  left: 258px;
  top: 680px;

  background: #1498d5;
}

.barrinha2 {
  position: absolute;
  width: 6px;
  height: 43px;
  left: 258px;
  top: 955px;

  background: #1498d5;
}

.barrinha3 {
  position: absolute;
  width: 6px;
  height: 43px;
  left: 258px;
  top: 1285px;

  background: #1498d5;
}

.pilar1 {
  position: absolute;
  width: 258.83px;
  height: 129.5px;
  left: 330.79px;
  top: 742px;

  background: #ffffff;
  box-shadow: 0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25),
    0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25);
}

.texto1 {
  position: absolute;
  width: 172.26px;
  height: 60px;
  left: 43.28px;
  top: 20px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
  z-index: 1;

  color: #000000;
}

.pilar2 {
  position: absolute;
  width: 258.83px;
  height: 129.5px;
  left: 628.48px;
  top: 742px;

  background: #ffffff;
  box-shadow: 0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25),
    0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25);
}
.texto2 {
  position: absolute;
  width: 116.6px;
  height: 40px;
  left: 63.6px;
  top: 20px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}
.pilar3 {
  position: absolute;
  width: 258.83px;
  height: 129.5px;
  left: 926.17px;
  top: 742px;

  background: #ffffff;
  box-shadow: 0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25),
    0px 3.23757px 3.23757px rgba(0, 0, 0, 0.25);
}

.texto3 {
  position: absolute;
  width: 140.46px;
  height: 54px;
  left: 79.5px;
  top: 20px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

.texto-valores {
  position: absolute;
  width: 564px;
  height: 203.29px;
  left: 292px;
  top: 1034px;

  font-family: Roboto Slab;
  font-style: normal;

  font-size: 15px;
  line-height: 40px;
  /* or 267% */

  text-align: justify;

  color: #000000;
}

.logo2 {
  position: absolute;
  width: 350px;
  height: 129.5px;
  left: 878px;
  top: 1048px;
}

.icones {
  position: absolute;
  width: 843.66px;
  height: 166px;
  left: 298px;
  top: 1353px;
}

.descricao-icones {
  position: absolute;
  width: 826.66px;
  height: 31px;
  left: 316px;
  top: 1537px;
  color: #222222;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: inline-block;
  align-items: center;
}

.escritorios {
  position: absolute;
  width: 123px;
  height: 26px;
  left: 10px;
  top: -30px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.clientes {
  position: absolute;
  width: 331px;
  height: 26px;
  left: 245px;
  top: -30px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  color: #000000;
}

.funcionarios {
  position: absolute;
  width: 158px;
  height: 26px;
  left: 665px;
  top: -30px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  color: #000000;
}

.nossos-servicos {
  text-align: center;
  position: absolute;
  width: 500px;
  height: 68px;
  left: 475px;
  top: 1658px;
}

.barrinha-horizontal2 {
  position: absolute;
  width: 307px;
  height: 5px;
  left: 569px;
  top: 1731px;

  background: linear-gradient(0deg, #1498d5, #1498d5), #c4c4c4;
  transform: rotate(-180deg);
}

.caixa1 {
  position: absolute;
  width: 300px;
  height: 561px;
  left: 196.5px;
  top: 1839px;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.caixa2 {
  position: absolute;
  width: 300px;
  height: 561px;
  left: 571.5px;
  top: 1771px;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.caixa3 {
  position: absolute;
  width: 300px;
  height: 561px;
  left: 950.5px;
  top: 1839px;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.titulo-caixa {
  position: absolute;
  width: 280px;
  height: 40px;
  left: 12px;
  top: 34px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  /* or 228% */

  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.text1 {
  position: absolute;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 34px;
  /* or 227% */

  text-align: center;
  letter-spacing: 0.1em;

  color: #000000;
  top: 92px;
  left: 41.5px;
}

.botao {
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  /* or 213% */

  /*display: flex;
  align-items: center;
  text-align: center;*/
  letter-spacing: 0.1em;

  color: #ffffff;
}

.contrate {
  position: absolute;
  width: 207px;
  height: 56.56px;
  left: 47px;
  top: 468px;
  z-index: 1;

  cursor: pointer;
  background: #1498d5;
  border-radius: 1.39535px;
}

.img-servicos {
  position: relative;
  width: 1065px;
  height: 534.36px;
  left: -756.5px;
  top: 600px;
}

.caixa-rodape {
  position: absolute;
  width: 1439.79px;
  height: 229.69px;
  left: 0px;
  bottom: -228.24px;

  background: #323238;
}

.logo-rodape {
  position: absolute;
  width: 316.3px;
  height: 116.84px;
  left: 78.94px;
  bottom: 51.25px;
}

.caixa-rodape ul {
  padding-left: 400px;
}

.caixa-rodape ul li {
  display: inline-block;
  margin-left: 65px;
  margin-top: 45px;
}

.caixa-rodape ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: Abeezee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.caixa-rodape ul li a:hover {
  color: #1498d5;
}

.socio1 {
  position: absolute;
  width: 94px;
  height: 19px;
  left: 740.13px;
  bottom: 100.14px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #b6b6b6;
}

.socio2 {
  position: absolute;
  width: 96px;
  height: 19px;
  left: 740.13px;
  bottom: 60px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #b6b6b6;
}

.copyright {
  position: absolute;
  width: 237px;
  height: 19px;
  left: 623.04px;
  bottom: 22.27px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.siganos {
  position: absolute;
  width: 100px;
  height: 24px;
  left: 1191.24px;
  bottom: 120.1px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}

.facebook {
  position: absolute;

  left: 1180.24px;
  bottom: 91.19px;
}

.instagram {
  position: absolute;

  left: 1228.25px;
  bottom: 91.19px;
}

.youtube {
  position: absolute;

  left: 1276.26px;
  bottom: 91.19px;
}

.twitter {
  position: absolute;

  left: 1324.27px;
  bottom: 91.19px;
}

.linha-redes {
  position: absolute;
  width: 103.03px;
  height: 0px;
  left: 1192.24px;
  bottom: 91.19px;

  border: 1px solid #a5a5a5;
}
