html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

nav {
  background: #f5f5f5;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
  display: flex;
  align-items: center;
}

nav .sistema {
  float: right;
}

nav .master {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 1vw;
}

.botao-menu {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 36px;
  position: absolute;
  left: 120px;
  top: 10px;
  display: none;
}

nav .logo-cabecalho {
  margin-left: 15px;
}

.menu ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.menu ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 1vw;
}

.menu ul li a {
  color: #222222;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.menu ul ul {
  position: relative;
  display: none;
}

.menu ul li:hover ul {
  position: absolute;
  display: block;
}

.menu ul ul li {
  padding: 10px;
  width: 130px;
  display: block;
  background-color: #f5f5f5;
  padding-top: 5px;
}

.menu ul ul li a {
  color: #615f5f;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: block;
}

.sistema ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

.sistema ul li a {
  text-decoration: none; /* tira o sublinhado do Entrar */
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
  margin-top: 0px;
}

.btn {
  border: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.botao-criarconta {
  width: 150.1px;
  height: 39.07px;
  cursor: pointer;
  background: #1498d5;
  border-radius: 1.39535px;
}

/*main*/

.primeiro-bloco {
  display: flex;
  justify-content: center;
  margin: 4% 10%;
  align-items: center;
}

.retangulo1 {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  background: #56b9e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.retangulo1 p {
  margin-top: 10%;
  margin-left: 4%;
  margin-right: 5%;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  /* or 250% */

  display: flex;
  align-content: center;
  text-align: justify;

  color: #f5f5f5;
}

.retangulo1 h2 {
  margin-top: 10%;
  margin-left: 4%;
  margin-bottom: -6%;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 50px;
  /* or 250% */

  display: flex;
  align-content: center;

  color: #f5f5f5;
}

.img1 {
  width: 100%;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

/*-----------------*/
.segundo-bloco {
  display: flex;
  justify-content: center;
  margin: 40px 190px;
  align-items: center;
}

.retangulo2 {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 70%;
  max-width: 1072px;
  min-width: 486px;
  display: flex;
  justify-content: space-between;
  background: #56b9e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img2 {
  display: block;
  width: 50%;
  height: 50%;
}

.texto2 {
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  /* or 225% */

  text-align: justify;
  letter-spacing: 0.04em;
  margin-left: 2.35vw;
  margin-right: 2.35vw;
  margin-top: 6%;
  margin-bottom: 6%;
  color: #ffffff;
}

.redes-sociais {
  display: flex;
  justify-content: space-around;
  margin: 0 170px;
  align-items: center;
}

.rede {
  display: flex;
  align-items: center;
}

.facebooktxt,
.instagramtxt,
.twittertxt,
.youtubetxt {
  margin-left: 1vw;
}
.redes-sociais p {
  color: #000;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

/* Inicio Rodapé */
.caixa-rodape {
  background: #323238;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.caixa-rodape {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.logo-rodape {
  margin-top: 3%;
  margin-left: 5%;
  width: 20%;
  height: 20%;
}

.caixa-rodape ul {
  list-style: none;
}

.caixa-rodape ul li {
  margin-top: 10%;
  display: inline-block;
  padding-left: 2vw;
}

.caixa-rodape ul li a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape ul ul li {
  position: sticky;
  display: list-item;
}

.socios ul li {
  margin-left: -3vw;
  display: list-item;
}

.copyright {
  text-align: center;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

/* Inicio Rodapé */
.caixa-rodape {
  background: #323238;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.caixa-rodape {
  margin-top: 6%;
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
}

.logo-rodape {
  margin-top: 3%;
  margin-left: 5%;
}

.itens-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 35%;
}

.caixa-rodape ul {
  list-style: none;
}

.caixa-rodape ul li {
  margin-top: 10%;
  display: inline-block;
  padding-left: 2vw;
}

.caixa-rodape ul li a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape ul ul li {
  position: sticky;
  display: list-item;
}

.socios ul li {
  margin-left: -3vw;
  display: list-item;
}

.icones-redes {
  float: right;
}

.copyright {
  text-align: center;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.teste {
  background: #323238;
}

/*----- Parte da responsividade -----*/

@media (min-width: 576px) and (max-width: 767px) {
  /* Novo menu horizontal */

  nav .logo-cabecalho {
    margin: auto;
  }

  nav {
    height: 350px;
    justify-content: space-between;
  }

  nav .cabecalho {
    display: flex;
  }

  nav .master {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .menu {
    margin: auto;
  }

  .menu ul {
    text-align: center;
  }

  .menu ul li {
    display: block;
    margin: auto;
  }

  .sistema {
    margin: auto;
  }

  .sistema ul {
    margin-top: 0px;
    padding: 0px;
    text-align: center;
  }

  .sistema ul li {
    display: block;
  }

  .menu ul ul {
    position: absolute;
    left: 70%;
    display: none;
  }

  /* Primeiro bloco */
  .retangulo1,
  .retangulo1 h2,
  .retangulo1 p {
    display: block;
    text-align: center;
  }
  .retangulo1 p {
    text-align: justify;
    margin-right: 5%;
  }

  .img1 {
    width: 80%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: auto;
  }

  .segundo-bloco {
    display: block;
    margin: 0;
    margin-bottom: 30px;
  }

  .img2 {
    margin: auto;
    width: 70%;
  }

  .retangulo2 {
    width: 70%;
    margin: auto;
  }

  .redes-sociais {
    display: block;
  }

  .rede {
    margin-left: 20%;
  }

  /* Footer */

  .logo-rodape {
    margin-top: auto;
    margin-bottom: auto;
  }

  .teste {
    margin-top: 10px;
  }

  .caixa-rodape {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .home,
  .contato,
  .socios {
    margin: 10px;
  }

  .icones-redes {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .icones-redes p {
    display: none;
  }

  .copyright p {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Primeiro bloco */
  .retangulo1,
  .retangulo1 h2,
  .retangulo1 p {
    display: block;
    text-align: center;
  }
  .retangulo1 p {
    text-align: justify;
    margin-right: 5%;
  }

  .img1 {
    width: 80%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: auto;
  }

  .segundo-bloco {
    display: block;
    margin: 0;
    margin-bottom: 30px;
  }

  .img2 {
    margin: auto;
    width: 80%;
  }

  .retangulo2 {
    margin: auto;
    width: 80%;
  }

  .facebooktxt,
  .instagramtxt,
  .twittertxt,
  .youtubetxt {
    margin-left: 0px;
  }

  .redes-sociais {
    margin: 50px auto;
  }

  /* Footer */

  .logo-rodape {
    margin-top: auto;
    margin-bottom: auto;
  }

  .teste {
    margin-top: 10px;
  }

  .caixa-rodape {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .home,
  .contato,
  .socios {
    margin: 10px;
  }

  .icones-redes {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .icones-redes p {
    display: none;
  }

  .copyright p {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .retangulo1,
  .retangulo1 h2,
  .retangulo1 p {
    display: block;
    text-align: center;
  }
  .retangulo1 p {
    text-align: justify;
    margin-right: 5%;
  }

  .img1 {
    width: 65%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: auto;
  }

  .segundo-bloco {
    display: block;
    margin: 0;
    margin-bottom: 30px;
  }

  .img2 {
    margin: auto;
    width: 65%;
  }

  .retangulo2 {
    margin: auto;
    width: 65%;
  }

  .facebooktxt,
  .instagramtxt,
  .twittertxt,
  .youtubetxt {
    margin-left: 0px;
  }

  .redes-sociais {
    margin: 50px auto;
  }
}
