html {
  overflow-y: scroll;
  overflow-x: scroll;
}

/*-------------- Cabeçalho --------------*/
body {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

main {
  position: relative;
  width: 1440px;
  height: 1597px;
  margin: 0 auto;
  background: #ffffff;
}

.header {
  position: relative;
  width: 100%;
  height: 59px;
  left: 0px;
  top: 0px;
  background: #f5f5f5;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho {
  width: 100%;
  background-color: hsl(0, 0, 96);
  box-sizing: border-box;
}

.header {
  height: 59px;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.logo {
  position: absolute;
  width: 95px;
  height: 35.15px;
  left: 50px;
  top: 13px;
  cursor: pointer;
}

.menu ul {
  padding-left: 175px;
}

.menu ul li {
  display: inline-block;
  margin-left: 65px;
}

.menu ul li a {
  color: #222222;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.menu ul li a:hover {
  color: #1498d5;
}

.menu ul ul {
  display: none;

  position: absolute;
  width: 203px;
  height: 101px;
  left: 260px;
  top: 40px;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul ul li {
  padding: 8px;
  width: 130px;
  display: block;
  background-color: #f5f5f5;
  padding-top: 16px;
}

.menu ul ul li a {
  color: #615f5f;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.seta {
  margin-top: 7px;
  margin-left: 6px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid rgb(0, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.sistema {
  position: absolute;
  right: 0;
}

.sistema ul li {
  display: inline-block;
  padding: 18px;
  align-items: right;
}

.sistema ul li a {
  color: #222222;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.sistema ul li a:hover {
  color: #1498d5;
}

.btn {
  border: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.botao-criarconta {
  position: absolute;
  width: 150.1px;
  height: 39.07px;
  left: 1169.81px;
  top: 11px;
  z-index: 1;

  cursor: pointer;
  background: #1498d5;
  border-radius: 1.39535px;
}

/*-------------- Primeiro bloco --------------*/
.primeira-img {
  position: absolute;
  width: 1115px;
  height: 415px;
  left: 162px;
  top: 186px;

  background: #323238;
}

.img1 {
  position: absolute;
  width: 486px;
  height: 486px;
  left: 640px;
  top: -36px;
}

.nome {
  position: absolute;
  width: 143px;
  height: 80px;
  left: 50px;
  top: 12;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 79px;
  /* identical to box height, or 331% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.texto1 {
  position: absolute;
  width: 567px;
  height: 200px;
  left: 50px;
  top: 90px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  /* or 250% */

  display: flex;
  align-items: center;
  text-align: justify;

  color: #f5f5f5;
}

/*-------------- Segundo bloco --------------*/
.segunda-img {
  position: absolute;
  width: 608px;
  height: 483px;
  left: 648px;
  top: 658px;

  background: #323238;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img2 {
  position: absolute;
  width: 561px;
  height: 398px;
  left: -464px;
  top: 45px;

  background: url(.png);
}

.texto2 {
  position: absolute;
  width: 436px;
  height: 384px;
  left: 130px;
  top: 60px;

  font-family: Abeezee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 45px;
  /* or 225% */

  text-align: justify;
  letter-spacing: 0.04em;

  color: #ffffff;
}

/*-------------- Redes Socias --------------*/

.facebookimg {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 319px;
  top: 1274px;
}

.facebooktxt {
  position: absolute;
  width: 99px;
  height: 24px;
  left: 370px;
  top: 1267px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.instagramimg {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 534px;
  top: 1274px;
}

.instagramtxt {
  position: absolute;
  width: 111px;
  height: 24px;
  left: 585px;
  top: 1267px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;
}

.twitterimg {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 763px;
  top: 1274px;
}

.twittertxt {
  position: absolute;
  width: 111px;
  height: 24px;
  left: 814px;
  top: 1267px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;
}

.youtubeimg {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 992px;
  top: 1274px;
}

.youtubetxt {
  position: absolute;
  width: 99px;
  height: 24px;
  left: 1043px;
  top: 1267px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;
}
/*-------------- Rodapé --------------*/
.caixa-rodape {
  position: absolute;
  width: 1439.79px;
  height: 229.69px;
  left: 0px;
  bottom: 0px;

  background: #323238;
}

.logo-rodape {
  position: absolute;
  width: 316.3px;
  height: 116.84px;
  left: 78.94px;
  bottom: 51.25px;
}

.caixa-rodape ul {
  padding-left: 400px;
}

.caixa-rodape ul li {
  display: inline-block;
  margin-left: 65px;
  margin-top: 45px;
}

.caixa-rodape ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: Abeezee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.caixa-rodape ul li a:hover {
  color: #1498d5;
}

.socio1 {
  position: absolute;
  width: 94px;
  height: 19px;
  left: 740.13px;
  bottom: 80.14px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #b6b6b6;
}

.socio2 {
  position: absolute;
  width: 96px;
  height: 19px;
  left: 740.13px;
  bottom: 40.14px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #b6b6b6;
}

.copyright {
  position: absolute;
  width: 237px;
  height: 19px;
  left: 623.04px;
  bottom: 22.27px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.siganos {
  position: absolute;
  width: 100px;
  height: 24px;
  left: 1191.24px;
  bottom: 120.1px;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}

.facebook {
  position: absolute;

  left: 1180.24px;
  bottom: 91.19px;
}

.instagram {
  position: absolute;

  left: 1228.25px;
  bottom: 91.19px;
}

.youtube {
  position: absolute;

  left: 1276.26px;
  bottom: 91.19px;
}

.twitter {
  position: absolute;

  left: 1324.27px;
  bottom: 91.19px;
}

.linha-redes {
  position: absolute;
  width: 103.03px;
  height: 0px;
  left: 1192.24px;
  bottom: 91.19px;

  border: 1px solid #a5a5a5;
}

.socios {
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
