html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

.cabecalho {
  height: 60px;
  background: #f5f5f5;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  padding: 0 15px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .menu {
  margin-top: -70px;
  margin-left: 7vw;
}

nav .sistema {
  margin-top: -70px;
  margin-left: 50px;
}

.logo-cabecalho {
  margin-top: 13px;
}

.menu ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 1vw;
}

.menu ul li a {
  color: #222222;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.menu ul ul {
  position: absolute;
  left: 18%;
  display: none;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul ul li {
  padding: 10px;
  width: 130px;
  display: block;
  background-color: #f5f5f5;
  padding-top: 5px;
}

.menu ul ul li a {
  color: #615f5f;
  text-decoration: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: block;
}

.sistema ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

.sistema ul li a {
  text-decoration: none; /* tira o sublinhado do Entrar */
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
  margin-top: 0px;
}

.btn {
  border: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.botao-criarconta {
  width: 150.1px;
  height: 39.07px;
  cursor: pointer;
  background: #1498d5;
  border-radius: 1.39535px;
}

/*main*/

.primeiro-bloco {
  display: flex;
  justify-content: center;
  margin: 4% 10%;
  align-items: center;
}

.retangulo1 {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  background: #56b9e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.retangulo1 p {
  margin-top: 10%;
  margin-left: 4%;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  /* or 250% */

  display: flex;
  align-content: center;

  color: #f5f5f5;
}

.retangulo1 h2 {
  margin-top: 6%;
  margin-left: 4%;
  margin-bottom: -6%;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 50px;
  /* or 250% */

  display: flex;
  align-content: center;

  color: #f5f5f5;
}

.img1 {
  width: 40%;
  height: 40%;
}

/*-----------------*/
.segundo-bloco {
  display: flex;
  justify-content: center;
  margin: 40px 190px;
  align-items: center;
}

.retangulo2 {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 70%;
  max-width: 1072px;
  min-width: 486px;
  display: flex;
  justify-content: space-between;
  background: #56b9e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img2 {
  display: block;
  width: 50%;
  height: 50%;
}

.texto2 {
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  /* or 225% */

  text-align: justify;
  letter-spacing: 0.04em;
  margin-left: 2.35vw;
  margin-right: 2.35vw;
  margin-top: 8%;
  color: #ffffff;
}

.redes-sociais {
  display: flex;
  justify-content: space-around;
  margin: 0 170px;
  align-items: center;
}

.rede {
  display: flex;
  align-items: center;
}

.facebooktxt,
.instagramtxt,
.twittertxt,
.youtubetxt {
  margin-left: 1vw;
}
.redes-sociais p {
  color: #000;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

/* Inicio Rodapé */
.caixa-rodape {
  background: #323238;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.caixa-rodape {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.logo-rodape {
  margin-top: 3%;
  margin-left: 5%;
  width: 20%;
  height: 20%;
}

.caixa-rodape ul {
  list-style: none;
}

.caixa-rodape ul li {
  margin-top: 10%;
  display: inline-block;
  padding-left: 2vw;
}

.caixa-rodape ul li a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape ul ul li {
  position: sticky;
  display: list-item;
}

.socios ul li {
  margin-left: -3vw;
  display: list-item;
}

.copyright {
  text-align: center;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

/* Inicio Rodapé */
.caixa-rodape {
  background: #323238;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.caixa-rodape {
  margin-top: 6%;
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
}

.logo-rodape {
  margin-top: 3%;
  margin-left: 5%;
}

.itens-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 35%;
}

.caixa-rodape ul {
  list-style: none;
}

.caixa-rodape ul li {
  margin-top: 10%;
  display: inline-block;
  padding-left: 2vw;
}

.caixa-rodape ul li a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape a {
  text-decoration: none;
  color: #ffffff;
}

.caixa-rodape ul ul li {
  position: sticky;
  display: list-item;
}

.socios ul li {
  margin-left: -3vw;
  display: list-item;
}

.icones-redes {
  float: right;
}

.copyright {
  text-align: center;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.teste {
  background: #323238;
}
